@import "../../../styles/vars";

.button {
    background-color: $main-color;
    padding: 5px 10px;
    border: 1px solid $forth-color;
    cursor: pointer;
    z-index: 3;
    &.buy {
        padding: 10px;
        color: $main-color;
        background-color: $forth-color;
    }
}