@import "../../../styles/vars";

.rec {
  @include fill-all;
  @include skeleton-animation($secondary-color);
}

.line {
  width: 100%;
  height: 40px;
  margin: 10px;
  &.short {
    max-width: $max-item-width;
  }
  @include skeleton-animation($secondary-color)
}

.list {
  @include grid;
}