@import "../../../styles/vars";
.list {
  @include flex-center;
  justify-content: stretch;
  max-height: $max-nav-height;
  overflow-x: auto;
  overflow-y: hidden;
}
.link {
  padding: 5px 0;
  border-radius: 10px 10px 0 0;
  border: $link-border;
  background-color: $main-color;
  list-style: none;
  align-items: flex-end;
  text-decoration: none;
  text-transform: uppercase;
  color: $forth-color;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
  max-height: 30px;
  &.disabled {
    pointer-events: none;
    color: $third-color;
    border: $disabled-link-border;
    border-bottom: $link-border;
    cursor: not-allowed;
  }
  &.active {
    font-weight: bold;
    border-bottom: $active-link-border;
  }
  .additionInfo {
    font-style: italic;
    font-weight: bold;
    font-size: 0.6em;
  }
}


@media screen and (max-width: $max-width) {
  .list {
    flex-direction: column;
    padding-top: initial;
    padding-left: 10px;
    max-height:100vh;
    overflow: auto;
    min-width: 75px;
    .link {
      padding: 5px 5px;
      border-radius: 10px 0 0 10px;
      border-bottom: $link-border;
      width: 100%;
      &.disabled {
        border-bottom: $disabled-link-border;
        border-right: $link-border;
        cursor: not-allowed;
      }
      &.active {
        font-weight: bold;
        border-right: $active-link-border;
        border-bottom: $link-border;
      }
    }
  }
}